@model Tuple<LoginViewModel, RegisterViewModel>

<div class="log-reg-container">
    <div class="header">
        <h5 id="regLogHeader">Регистрация</h5>
        <div class="switch">
            <div class="switch-text">
                <span id="regLogSubText">
                    Зарегистрироваться
                </span>
            </div>
            <div class="switch-btn" id="logRegSwitch">
                <span class="circle" id="logRegSwitchCircle">

                </span>
            </div>
        </div>
    </div>

    <registration class="active">

        @{
            using (Html.BeginForm("RegLog", "Reg", FormMethod.Post))
            {
                @Html.ValidationMessage("UniqEmailError")

                <div class="form-wrap">
                    <label asp-for="Item2.Login" , class="sr-only">Your login</label>

                    <div>
                        <input asp-for="Item2.Login" , type="text" placeholder="Your login" required="" >
                        <span asp-validation-for="Item2.Login" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-wrap">
                    <label asp-for="Item2.Email" , class="sr-only">Your email</label>

                    <div>
                        <input asp-for="Item2.Email" , type="email" placeholder="Email" required="">
                        <span asp-validation-for="Item2.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-wrap">
                    <label asp-for="Item2.Phone" , class="sr-only">Your phone</label>

                    <div>
                        <input asp-for="Item2.Phone" , type="tel" placeholder="Phone" required="">
                        <span asp-validation-for="Item2.Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-wrap">
                    <label asp-for="Item2.Password" , class="sr-only">Your password</label>

                    <div>
                        <input asp-for="Item2.Password" , type="password" placeholder="Password" required="">
                        <span asp-validation-for="Item2.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-wrap">
                    <label asp-for="Item2.PasswordConfirm" , class="sr-only">Again your password</label>

                    <div>
                        <input asp-for="Item2.PasswordConfirm" , type="password" placeholder="Password" required="">
                        <span asp-validation-for="Item2.PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>

                <button class="btn primary-btn primary-btn-lg" type="submit">
                    Зарегистрироваться
                </button>

            }
        }

    </registration>

    <login>

        @{
            using (Html.BeginForm("RegLog", "Log", FormMethod.Post))
            {

                <div class="form-wrap">
                    <label asp-for="Item1.Email" , class="sr-only">Email</label>

                    <div>
                        <input asp-for="Item2.Email" , type="email" placeholder="Email" required="">
                        <span asp-validation-for="Item2.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-wrap">
                    <label asp-for="Item1.Password" , class="sr-only">Password</label>

                    <div>
                        <input asp-for="Item1.Password" , type="password" placeholder="Password" required="">
                        <span asp-validation-for="Item1.Password" class="text-danger"></span>
                    </div>
                </div>

                <button class="btn primary-btn primary-btn-lg" type="submit">
                    Войти
                </button>

            }
        }

        <form class="regLogForm">
        </form>

    </login>

</div>

