<div class="col-md-3 col-sm-12 d-flex flex-column align-items-start menu">
    <div class="menu-header">
        <div class="menu-header-text">
            <h5>Категории</h5>
        </div>
    </div>

    <div class="background-white menu-list">
        <ul>
            <li><a asp-controller="" asp-action="">Футбол</a></li>
            <li><a asp-controller="" asp-action="">Баскетбол</a></li>
            <li><a asp-controller="" asp-action="">Хоккей</a></li>
        </ul>
    </div>
</div>
