@{ 
    ViewData["Title"] = "Личный кабинет";
}
@model Tuple<ProfileViewModel, EditPasswordViewModel>

<div class="container">
    <div class="row">

        @await Html.PartialAsync("_GetPersonalMenu")

        <div class="col-md-9 col-sm-12 content">
            <div class="menu-header">
                <h5>Настройки</h5>
            </div>

            <div class="background-white">

                <div class="main">

                    <!-- Edit profile here -->
                    @await Html.PartialAsync("_EditProfilePartial", Model.Item1)

                    <!-- Edit passport here -->
                    @await Html.PartialAsync("_EditPassportPartial", Model.Item2)

                    <!-- Edit password here -->
                    @await Html.PartialAsync("_EditPasswordPartial", new EditPasswordViewModel())

                </div>

            </div>
        </div>

    </div>
</div>
