
<div class="log-reg-container">
    <div class="header">
        <h5 id="regLogHeader">Регистрация</h5>
        <div class="switch">
            <div class="switch-text">
                <span id="regLogSubText">
                    Зарегистрироваться
                </span>
            </div>
            <div class="switch-btn" id="logRegSwitch">
                <span class="circle" id="logRegSwitchCircle">

                </span>
            </div>
        </div>
    </div>
    <registration class="active">
        <form class="regLogForm">
            <div class="form-wrap">
                <input class="form-control" type="text" placeholder="Почта" />
            </div>
            <div class="form-wrap">
                <input class="form-control" type="text" placeholder="Имя" />
            </div>
            <div class="form-wrap">
                <input class="form-control" type="tel" placeholder="Телефон" />
            </div>
            <div class="form-wrap">
                <input class="form-control" type="password" placeholder="Пароль" />
            </div>
            <div class="form-wrap">
                <input class="form-control" type="password" placeholder="Повторите пароль" />
            </div>
            <button class="btn primary-btn primary-btn-lg" type="submit">
                Зарегистрироваться
            </button>
        </form>
    </registration>
    <login>
        <form class="regLogForm">
            <div class="form-wrap">
                <input class="form-control" type="text" placeholder="Имя" />
            </div>
            <div class="form-wrap">
                <input class="form-control" type="password" placeholder="Пароль" />
            </div>
            <div class="checkbox-wrap">
                <label class="checkbox-custom-label" id="checkboxCustomLabel">
                    <input class="checkbox-custom" id="hiddenCheckbox" type="checkbox" />
                    <span id="rememberMeCheckBox"></span>
                    <span id="rememberMeText">
                        Запомнить меня
                    </span>
                </label>
            </div>
            <button class="btn primary-btn primary-btn-lg" type="submit">
                Войти
            </button>
        </form>
    </login>
</div>

