<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,500&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="navbar-dark">
        <div class="navbar-wrap">
            <nav>
                <div class="navbar-panel navbar-darker">
                    <button class="navbar-toggle">

                    </button>
                    <div class="container navbar-panel-inner">
                        <div class="navbar-panel-item navbar-panel-item-left">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="link link-classic">Главная</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-panel-item navbar-panel-item-right">
                            <ul class="list-inline list-inline-bordered">
                                <li>
                                    <div>
                                        <select class="select-inline select-inline-dark">
                                            <option value="En" selected>En</option>
                                            <option value="Ru">Ru</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="navbar-main">

                </div>
                <div class="navbar-bottom">

                </div>
            </nav>
        </div>
    </header>
    <content class="container">
        @RenderBody()
    </content>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ITIS_Bet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
