html,body{
    width:100vw;
}
body {
    background-color: #edeff4;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    letter-spacing: 0.025em;
    box-sizing:content-box;
}
ul{
    margin:0px;
    padding:0;
    list-style:none;
}
a:hover,a:active,a:focus{
    text-decoration:none;
}

.background-white{
    background-color:white;
}

content{
    padding-top:60px;
    padding-bottom:60px;

}
.menu {
}
.menu-header {
    min-width: 100%;
    margin-bottom: 20px;
}
.menu-header-text {
    border-bottom: 1px solid #d7d7d7;
}
h1, h2, h3, h4, h5 {
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #151515;
    text-transform: uppercase;
    min-width: 100%;
}
.menu-header h5 {
    position: relative;
    padding-left: 15px;
}
.menu a {
    color: #151515;
}
.menu a:focus, a:active, a:hover{
    color: #64b000!important;
}
.menu ul {
    padding: 32px 22px 32px 22px;
    border: 1px #d7d7d7;
    list-style-type:none;
    margin-bottom: 0px;
    box-sizing:content-box;
}
.menu li {
    text-transform: uppercase;
    font-weight:700;

}
.menu div{
    width: 100%;
}
.form-control {
    border: 1px solid #d7d7d7;
    box-sizing:border-box;
    padding: 17px 19px 17px 19px;
    height: auto;
}
.form-control:active, .form-control:focus{
    border-color:#64b000;
}
.content .main{
    padding:25px 40px 25px 40px;
}
.form-wrap{
    margin-top:15px;
}
.primary-btn, button:focus {
    color: #fff;
    background-color: #64b000;
    border-color: #64b000;
}
.primary-btn:active, .primary-btn:hover {
    color: #151515;
    background-color: #ffd03a;
    border-color: #ffd03a;
}
.primary-btn {
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1,5;
    border: 2px solid;
    min-width:200px;
}
.menu, .main{
    margin-bottom:20px;
}
.blog-post {
    padding: 30px;
    color: #151515;
    background: #fff;
    border: 1px solid #e1e1e1;
}
.badge {
    display: inline-block;
    padding: 3px 8px;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #e1e1e1;
    border-radius: 4px;
}
.badge-secondary {
    font-weight: 500;
    color: #151515;
    background: #ffd03a;
}
.blog-post-title{
    border-bottom:none;
    margin-top:10px;
    font-weight:400;
}
.blog-post-header, .blog-post-author, .blog-post-meta {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap:wrap;
}
.blog-post-author {
    
}
.blog-post-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}
.img-circle{

}
.post-author {
    margin-left: 6px;
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #151515;
}
.blog-post-meta * {
    margin-top: 0;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9b9b9b;
}
.blog-post p{
    margin-bottom:0;
}
@media (min-width: 576px) {
    .post-author {
        padding-right: 20px;
        border-right: 1px solid #e1e1e1;
    }
}
@media (max-width: 576px) {

    .blog-post-header {
        flex-direction: column;
        align-items: start;
    }
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.blog-post-content > * {
    margin-top: 25px;
}
.menu li{
    padding-left: 20px;
    text-wrap:normal;
}
.menu ul{
    position: relative;
}
.menu li::before {
    position: absolute;
    position: relative;
    display: inline-block;
    top: -1px;
    left: -20px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    content: '';
    background: #d7d7d7;
}

.menu-header h5::before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    border-left: 4px solid #64b000;
    pointer-events: auto;
}
.blog-post-share {
    margin-top: 25px;
    padding: 20px;
    background-color: #edeff4;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.blog-post-share p{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9b9b9b;
    display:inline-block;
}
.share_ul a {
    color: #9b9b9b;
    text-decoration:none;
}

.blog-post-meta .icon {
    margin-right: 5px;
    font-size: 17px;
    vertical-align: middle;
    color: #64b000;
}

.icon {
    display: inline-block;
    line-height: 1;
    font-family: "Material Icons";
    margin-right: 5px;
    font-size: 17px;
    vertical-align: middle;
    color: #64b000;
}

.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.icon::before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
}

.mdi-clock:before {
    content: "\e8ae";
}
.mdi-comment-outline:before {
    content: "\e0cb";
}
.comments{
    margin-top:60px;
}
.comments-content{
    background-color:white;
    margin-top:25px;
    padding: 40px 30px;
}
.comments-ul{
    list-style:none;
    padding-left:0;
}
.comment{
}
.comment-content {
    display: flex;
    justify-content: start;
    margin-top: 30px;
}
.comment-avatar {
    min-width: 63px;
}
.comment-body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 30px;
}
.comment-info {
    display:flex;
}
.commentator-name >h5 {
    padding-right: 20px;
    border-right: 1px solid rgb(225, 225, 225);
}
.comment-date {
    color: rgb(155, 155, 155);
    padding-left:20px;
    text-align: center;
    display:flex;
    align-items:center;
}
.comment-body > p{
    margin:0px;
}
.comment-text{

}
.comment-buttons {
    display: flex;
    text-decoration: none;
    margin-top: 15px;
}
.reply-to{
    color:rgb(21, 21, 21);
}
.sub-comment{
    border-bottom:none;
    padding-bottom:0px;
}
.create-comment h5{
    border-right:none;
}
.create-comment .comment-body {
    border-bottom: none;
    display:flex;
    flex-grow:1;
}
.create-comment textarea {
    min-height: 150px;
    border: 1px solid #edeff4;
    background: #edeff4;
}
@media screen and (max-width: 553px){
    .comment-content{
        display: flex;
        flex-direction:column;
    }
    .comment-body{
        margin-left:0px;
    }
    .comment-info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .commentator-name > h5 {
        border-right: none;
    }
    .comment-date{
        padding-left: 0px;
    }
}
header {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    letter-spacing: 0.025em;
    color:white;
}
.navbar-dark{
    background-color:#383838;
}
.navbar-wrap{
    height: 237.2px;
}
content > .container{
    padding-top:60px;
}
.navbar-panel{
    padding: 0px 15px;
}
.navbar-panel-inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.navbar-panel-item {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 15px 0;
}
.navbar-panel-item-left {
    display: block;
    flex-direction: column;
    padding-right: 20px;
    position: relative;
}
.link {
    color: #fff;
}
.link-classic {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}
.navbar-toggle {
    position: relative;
    width: 46px;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    color: #b7b7b7;
    background-color: transparent;
    border: none;
    display: none;
}
.navbar-darker {
    background: #2a2a2a;
}
.list-inline-bordered {
    transform: translate3d(0, -5px, 0);
    margin-bottom: -5px;
    margin-left: -12px;
    margin-right: -12px;
}
.navbar-panel-item-right {
    position: relative;
    z-index: 1;
}
.list-inline-bordered > li {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.list-inline-bordered > li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    height: 100%;
    max-height: 21px;
    right: -2px;
    width: 1px;
    background: rgba(235, 235, 235, 0.15);
    pointer-events: none;
}
.select-inline-dark, .select2, .select2-selection, .select2-selection__rendered, select-inline-dark>*{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    letter-spacing: .025em !important;
    text-transform: uppercase !important;
}
.select-inline-dark, .select2, .select2-selection, .select2-selection__rendered, select-container-open, select-inline-dark > * {
    background: #383838 !important;
    color: #fff !important;
}
.select2-search{
    display:none!important;
}
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}
.select2-container .select2-selection__rendered {
    display: block;
    position: relative;
    color: #9b9b9b;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
    padding-left: 5px!important;
    padding-right: 17px!important;
    overflow:visible!important;
    text-align:center!important;
    padding-bottom:2px!important;
}
.select2-selection__arrow {
    display: inline-block;
    position: absolute;
    right: 19px;
    top: 50%!important;
    transform: translateY(-50%);
    line-height: 1;
    height:20px!important;
}
.select2-container--default .select2-selection--single{
    border:none!important;
    height:auto!important;
}
.select2{
    width:auto!important;
}
.select2-results .select2-highlighted {
    background-color: rgba(235, 235, 235, 0.15) !important;
}
.select2-selection .select2-selection--single[aria-activedescendant] {
    background-color: yellowgreen;
    color: white;
}
.select2-container--open{
    text-transform:uppercase;
}
.select2-container--default .select2-results__option {
    background-color: #383838 !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #383838 !important;
    color: white !important;
}
.select2-results {
    display: flex;
    position: relative;
    color: #9b9b9b;
    background-color: #383838;
    text-decoration: none;
    margin:-1px -1px;
    overflow: visible !important;
    text-align: center !important;
    font-size:12px;
    font-weight:500;
    line-height:18px;
}
.select2-results>*{
    display:flex;
    flex-direction:column;
    align-items:start;
    
}